@charset "utf-8";
/* CSS Document */


.msg{
	display: grid;
	margin-top: 20px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

.content{
	min-height: 20px;
	padding: 20px;
}

.recepient{  grid-area: 1 / 1 / 2 / 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	padding: 5px;
}


.recepient .icon { grid-area: 1 / 2 / 3 / 3;
}
.recepient .name { grid-area: 1 / 1 / 2 / 2;
}
.recepient .time { grid-area: 2 / 1 / 3 / 2;
}

 .msg_to .content { grid-area: 1 / 2 / 2 / 5;
 	background: #AFEEEE;
	border-radius: 20px 20px 0 20px;
	 text-align: right;
}


.recepient .name p{
	font-weight: bold;
	text-align: right;
}

.recepient .time p{
	color: gray;
	text-align: right;
}


.sender {  grid-area: 1 / 5 / 2 / 6;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(1, 1fr);
padding: 5px;
}

.sender .icon { grid-area: 1 / 1 / 3 / 2;
}
.sender .name { grid-area: 1 / 2 / 2 / 3;
}
.sender .time { grid-area: 2 / 2 / 3 / 3;
}

 .msg_from .content { grid-area: 1 / 2 / 2 / 5;
 	background: #DDA0DD;
	border-radius: 20px 20px 20px 0;
	text-align: left;
}

.sender .name p{
	font-weight: bold;
}

.sender .time p{
	color: gray;
}
